<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<appSettings>
		<add key="server" value="10.0.0.1"/>
		<add key="port" value="514"/>
		<add key="mtu" value="1500"/>
	</appSettings>
	<log4net>
		<appender name="RealtimeMonitoringAppender" type="log4net.Appender.UdpAppender">
			<param name="RemoteAddress" value="10.0.0.1"/>
			<param name="RemotePort" value="514"/>
			<layout type="log4net.Layout.PatternLayout, log4net">
				<param name="ConversionPattern" value="&lt;110&gt;%date{MMM dd HH:mm:ss} %property{log4net:HostName} L4N: %p ApacheConsoleRelay %c - %m"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="RealtimeMonitoringAppender"/>
		</root>
	</log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
